@{
    ViewData["Title"] = "Página de Jogos";
}

<h1>Jogos</h1>

<p>Veja nossos jogos disponíveis:</p>

<ul>
    <li>Jogo 1</li>
    <li>Jogo 2</li>
    <li>Jogo 3</li>
</ul>

<style>
    /* Estilos CSS específicos para a página Jogos.cshtml */
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 16px;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    li {
        margin-bottom: 5px;
    }
</style>
